
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout_admin :: head-link"></head>

<body data-sidebar="dark" data-layout-mode="light">

<!-- Begin page -->
<div id="layout-wrapper">
    <header th:replace="admin/layout_admin :: header-page"></header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu" th:replace="admin/layout_admin :: menu"></div>
    <!-- Left Sidebar End -->

    <!-- Nội dung -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Danh sách vận chuyển</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <a
                                       class="btn btn-outline-secondary btn-sm create"
                                    href="/admin/quan-ly-van-chuyen/add">
                                        <i class="fa fa-plus"></i>
                                        Thêm mới
                                    </a>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div class="table-responsive">
                                <table class="table project-list-table table-nowrap align-middle table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col" > STT</th>
                                        <th scope="col">Tên vân chuyển</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="vanchuyen,stt: ${listvc}" >
                                        <td th:text="${stt.count}"></td>
                                        <td>
                                            <h5 class="text-truncate font-size-14"><a
                                                    href="javascript: void(0);" class="text-dark"
                                                    th:text="${vanchuyen.TenVC}"></a></h5>
                                        </td>
                                        <td th:text = "${vanchuyen.Gia}"></td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-outline-secondary btn-sm edit" title="Edit"
                                                   th:href="@{/admin/quan-ly-van-chuyen/edit/{id}(id=${vanchuyen.MaVC})}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a class="btn btn-outline-secondary btn-sm delete" title="Delete"
                                                   th:href="@{/admin/quan-ly-van-chuyen/delete/{id}(id=${vanchuyen.MaVC})}"
                                                   onclick="return confirm('Xác nhận xóa phương thức vận chuyển này?')">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- hết nội dung-->
</div>
<!-- END layout-wrapper -->

<footer th:replace="admin/layout_admin :: footer"></footer>
<!-- JAVASCRIPT -->
<div th:replace="admin/layout_admin :: link-js"></div>
</body>
</html>