<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head-link">

  <meta charset="utf-8" />
  <title>ChatCoffee</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <!-- Bootstrap Css -->
  <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" />
  <!-- Icons Css-->
  <link href="/assets/css/icons.min.css" rel="stylesheet"  />
  <!-- App Css-->
  <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet"  />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body data-topbar="dark" data-layout="horizontal" >

<!-- Begin page -->
<div id="layout-wrapper">
  <header id="page-topbar" th:fragment="header-page">
    <div class="navbar-header" >
      <div class="d-flex">
        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="index.html" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo.svg" alt="" height="22">
                                </span>
            <span class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="" height="17">
                                </span>
          </a>

          <a href="index.html" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-light.svg" alt="" height="22">
                                </span>
            <span class="logo-lg">
                                    <img src="assets/images/logo-light.png" alt="" height="19">
                                </span>
          </a>
        </div>

        <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
          <i class="fa fa-fw fa-bars"></i>
        </button>

        <!-- App Search-->
        <form class="app-search d-none d-lg-block">
          <div class="position-relative">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="bx bx-search-alt"></span>
          </div>
        </form>

        <div class="dropdown dropdown-mega d-none d-lg-block ms-2">
          <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <span key="t-megamenu">Mega Menu</span>
            <i class="mdi mdi-chevron-down"></i>
          </button>
          <div class="dropdown-menu dropdown-megamenu">
            <div class="row">
              <div class="col-sm-8">

                <div class="row">
                  <div class="col-md-4">
                    <h5 class="font-size-14" key="t-ui-components">UI Components</h5>
                    <ul class="list-unstyled megamenu-list">
                      <li>
                        <a href="javascript:void(0);" key="t-lightbox">Lightbox</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-range-slider">Range Slider</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-sweet-alert">Sweet Alert</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-rating">Rating</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-forms">Forms</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-tables">Tables</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-charts">Charts</a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-4">
                    <h5 class="font-size-14" key="t-applications">Applications</h5>
                    <ul class="list-unstyled megamenu-list">
                      <li>
                        <a href="javascript:void(0);" key="t-ecommerce">Ecommerce</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-calendar">Calendar</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-email">Email</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-projects">Projects</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-tasks">Tasks</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-contacts">Contacts</a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-4">
                    <h5 class="font-size-14" key="t-extra-pages">Extra Pages</h5>
                    <ul class="list-unstyled megamenu-list">
                      <li>
                        <a href="javascript:void(0);" key="t-light-sidebar">Light Sidebar</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-compact-sidebar">Compact Sidebar</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-horizontal">Horizontal layout</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-maintenance">Maintenance</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-coming-soon">Coming Soon</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-timeline">Timeline</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-faqs">FAQs</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-6">
                    <h5 class="font-size-14" key="t-ui-components">UI Components</h5>
                    <ul class="list-unstyled megamenu-list">
                      <li>
                        <a href="javascript:void(0);" key="t-lightbox">Lightbox</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-range-slider">Range Slider</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-sweet-alert">Sweet Alert</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-rating">Rating</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-forms">Forms</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-tables">Tables</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" key="t-charts">Charts</a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-sm-5">
                    <div>
                      <img src="assets/images/megamenu-img.png" alt="" class="img-fluid mx-auto d-block">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="d-flex">

        <div class="dropdown d-inline-block d-lg-none ms-2">
          <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-magnify"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
               aria-labelledby="page-header-search-dropdown">

            <form class="p-3">
              <div class="form-group m-0">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search ..." aria-label="Search input">

                  <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>s
                </div>
              </div>
            </form>
          </div>
        </div>



        <div class="dropdown d-none d-lg-inline-block ms-1">
          <button type="button" class="btn header-item noti-icon waves-effect"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bx bx-cart-alt"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
            <div class="px-lg-2">
              <div class="row g-0">
                <div class="col">
                  <a class="dropdown-icon-item" href="#">
                    <img src="assets/images/brands/github.png" alt="Github">
                    <span>GitHub</span>
                  </a>
                </div>
                <div class="col">
                  <a class="dropdown-icon-item" href="#">
                    <img src="assets/images/brands/bitbucket.png" alt="bitbucket">
                    <span>Bitbucket</span>
                  </a>
                </div>
                <div class="col">
                  <a class="dropdown-icon-item" href="#">
                    <img src="assets/images/brands/dribbble.png" alt="dribbble">
                    <span>Dribbble</span>
                  </a>
                </div>
              </div>

              <div class="row no-gutters">
                <div class="col">
                  <a class="dropdown-icon-item" href="#">
                    <img src="assets/images/brands/dropbox.png" alt="dropbox">
                    <span>Dropbox</span>
                  </a>
                </div>
                <div class="col">
                  <a class="dropdown-icon-item" href="#">
                    <img src="assets/images/brands/mail_chimp.png" alt="mail_chimp">
                    <span>Mail Chimp</span>
                  </a>
                </div>
                <div class="col">
                  <a class="dropdown-icon-item" href="#">
                    <img src="assets/images/brands/slack.png" alt="slack">
                    <span>Slack</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown d-none d-lg-inline-block ms-1">
          <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
            <i class="bx bx-fullscreen"></i>
          </button>
        </div>

        <div class="dropdown d-inline-block">
          <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bx bx-bell bx-tada"></i>
            <span class="badge bg-danger rounded-pill">3</span>
          </button>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
               aria-labelledby="page-header-notifications-dropdown">
            <div class="p-3">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="m-0" key="t-notifications"> Notifications </h6>
                </div>
                <div class="col-auto">
                  <a href="#!" class="small" key="t-view-all"> View All</a>
                </div>
              </div>
            </div>
            <div data-simplebar style="max-height: 230px;">
              <a href="javascript: void(0);" class="text-reset notification-item">
                <div class="d-flex">
                  <div class="avatar-xs me-3">
                                                <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                    <i class="bx bx-cart"></i>
                                                </span>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="mb-1" key="t-your-order">Your order is placed</h6>
                    <div class="font-size-12 text-muted">
                      <p class="mb-1" key="t-grammer">If several languages coalesce the grammar</p>
                      <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
                    </div>
                  </div>
                </div>
              </a>
              <a href="javascript: void(0);" class="text-reset notification-item">
                <div class="d-flex">
                  <img src="assets/images/users/avatar-3.jpg"
                       class="me-3 rounded-circle avatar-xs" alt="user-pic">
                  <div class="flex-grow-1">
                    <h6 class="mb-1">James Lemire</h6>
                    <div class="font-size-12 text-muted">
                      <p class="mb-1" key="t-simplified">It will seem like simplified English.</p>
                      <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">1 hours ago</span></p>
                    </div>
                  </div>
                </div>
              </a>
              <a href="javascript: void(0);" class="text-reset notification-item">
                <div class="d-flex">
                  <div class="avatar-xs me-3">
                                                <span class="avatar-title bg-success rounded-circle font-size-16">
                                                    <i class="bx bx-badge-check"></i>
                                                </span>
                  </div>
                  <div class="flex-grow-1">
                    <h6 class="mb-1" key="t-shipped">Your item is shipped</h6>
                    <div class="font-size-12 text-muted">
                      <p class="mb-1" key="t-grammer">If several languages coalesce the grammar</p>
                      <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-min-ago">3 min ago</span></p>
                    </div>
                  </div>
                </div>
              </a>

              <a href="javascript: void(0);" class="text-reset notification-item">
                <div class="d-flex">
                  <img src="assets/images/users/avatar-4.jpg"
                       class="me-3 rounded-circle avatar-xs" alt="user-pic">
                  <div class="flex-grow-1">
                    <h6 class="mb-1">Salena Layfield</h6>
                    <div class="font-size-12 text-muted">
                      <p class="mb-1" key="t-occidental">As a skeptical Cambridge friend of mine occidental.</p>
                      <p class="mb-0"><i class="mdi mdi-clock-outline"></i> <span key="t-hours-ago">1 hours ago</span></p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="p-2 border-top d-grid">
              <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">View More..</span>
              </a>
            </div>
          </div>
        </div>

        <div class="dropdown d-inline-block">
          <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="rounded-circle header-profile-user" src="/images/avatar-default.png"
                 alt="Header Avatar">
            <span class="d-none d-xl-inline-block ms-1" key="t-henry">Henry</span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <!-- item-->
            <a class="dropdown-item" href="/user"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">Cá nhân</span></a>
            <a class="dropdown-item" href="#"><i class="bx bx-wallet font-size-16 align-middle me-1"></i> <span key="t-my-wallet">Hóa đơn</span></a>
            <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><i class="bx bx-wrench font-size-16 align-middle me-1"></i> <span key="t-settings">Settings</span></a>
            <a class="dropdown-item" href="#"><i class="bx bx-lock-open font-size-16 align-middle me-1"></i> <span key="t-lock-screen">Lock screen</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" href="/user/login"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Đăng nhập</span></a>
          </div>
        </div>

        <div class="dropdown d-inline-block">
          <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
            <i class="bx bx-cog bx-spin"></i>
          </button>
        </div>

      </div>
    </div>
  </header>
  <div class="topnav" th:fragment="topnav">
    <div class="container-fluid">
      <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

        <div class="collapse navbar-collapse" id="topnav-menu-content">
          <ul class="navbar-nav" style="color:var(--bs-menu-item-color)">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle arrow-none" href="/" id="topnav-dashboard" role="button" >
                <i class="bx bx-home-circle me-2"></i><span key="t-dashboards">Trang chủ</span>
              </a>

            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle arrow-none" href="/product" id="topnav-uielement" role="button">
                <i class="bx bx-tone me-2"></i>
                <span key="t-ui-elements"> Sản phẩm</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
              >
                <i class="bx bx-customize me-2"></i><span key="t-apps">Loại sản phẩm</span> <div class="arrow-down"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-pages">

                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email"
                     role="button">
                    <span key="t-calendar">Loại 1</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-email">
                    <a href="calendar.html" class="dropdown-item" key="t-tui-calendar">sản phẩm 1 </a>
                  </div>
                </div>
                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email"
                     role="button">
                    <span key="t-calendar">Loại 2</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-email">
                    <a href="calendar-full.html" class="dropdown-item" key="t-full-calender">Sản phẩm 2</a>
                  </div>
                </div>
              </div>

            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
              >
                <i class="bx bx-collection me-2"></i><span key="t-components">Thương hiệu</span> <div class="arrow-down"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-components">
                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-form"
                     role="button">
                    <span key="t-forms">Thương hiệu 1</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-form">
                    <a href="form-elements.html" class="dropdown-item" key="t-form-elements">Sản phẩm 1</a>
                  </div>
                </div>
                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-table"
                     role="button">
                    <span key="t-tables">Thương hiệu 2</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-table">
                    <a href="tables-basic.html" class="dropdown-item" key="t-basic-tables">Sản phẩm 2</a>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-more" role="button"
              >
                <i class="bx bx-file me-2"></i><span key="t-extra-pages">Extra pages</span> <div class="arrow-down"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-more">
                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-invoice"
                     role="button">
                    <span key="t-invoices">Invoices</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-invoice">
                    <a href="invoices-list.html" class="dropdown-item" key="t-invoice-list">Invoice List</a>
                    <a href="invoices-detail.html" class="dropdown-item" key="t-invoice-detail">Invoice Detail</a>
                  </div>
                </div>
                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth"
                     role="button">
                    <span key="t-authentication">Authentication</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-auth">
                    <a href="auth-login.html" class="dropdown-item" key="t-login">Login</a>
                  </div>
                </div>
                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-utility"
                     role="button">
                    <span key="t-utility">Utility</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-utility">
                    <a href="pages-starter.html" class="dropdown-item" key="t-starter-page">Starter Page</a>
                    <a href="pages-maintenance.html" class="dropdown-item" key="t-maintenance">Maintenance</a>
                    <a href="pages-comingsoon.html" class="dropdown-item" key="t-coming-soon">Coming Soon</a>
                    <a href="pages-timeline.html" class="dropdown-item" key="t-timeline">Timeline</a>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layout" role="button"
              >
                <i class="bx bx-layout me-2"></i><span key="t-layouts">Layouts</span> <div class="arrow-down"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-layout">
                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-layout-verti"
                     role="button">
                    <span key="t-vertical">Vertical</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-layout-verti">
                    <a href="layouts-light-sidebar.html" class="dropdown-item" key="t-light-sidebar">Light Sidebar</a>
                    <a href="layouts-compact-sidebar.html" class="dropdown-item" key="t-compact-sidebar">Compact Sidebar</a>
                    <a href="layouts-icon-sidebar.html" class="dropdown-item" key="t-icon-sidebar">Icon Sidebar</a>
                    <a href="layouts-scrollable.html" class="dropdown-item" key="t-scrollable">Scrollable</a>
                  </div>
                </div>

                <div class="dropdown">
                  <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-layout-hori"
                     role="button">
                    <span key="t-horizontal">Horizontal</span> <div class="arrow-down"></div>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="topnav-layout-hori">
                    <a href="layouts-horizontal.html" class="dropdown-item" key="t-horizontal">Horizontal</a>
                    <a href="layouts-hori-topbar-light.html" class="dropdown-item" key="t-topbar-light">Topbar light</a>
                    <a href="layouts-hori-scrollable.html" class="dropdown-item" key="t-scrollable">Scrollable</a>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>

  <!--Nội dung-->
  <div th:insert = "~{::${content}}"></div>
  <!--Hết nội dung-->

</div>
<!-- END layout-wrapper -->

  <footer class="footer" th:fragment="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <script>document.write(new Date().getFullYear())</script> © Skote.
        </div>
        <div class="col-sm-6">
          <div class="text-sm-end d-none d-sm-block">
            Design & Develop by Themesbrand
          </div>
        </div>
      </div>
    </div>
  </footer>

<!-- JAVASCRIPT -->
<div th:fragment="link-js">
  <script th:src="@{/libs/jquery.min.js}"></script>
  <script type="text/javascript" src="/libs/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/libs/metisMenu.min.js"></script>
  <script type="text/javascript" src="/libs/simplebar.min.js"></script>
  <script type="text/javascript" src="/libs/waves.min.js"></script>

  <script th:src="@{/libs/apexcharts.min.js}"></script>

  <script th:src="@{/js/pages/dashboard.init.js}"></script>


  <script th:src="@{/js/app.js}"></script>
</div>
</body>
</html>
