<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout_admin :: head-link"></head>

<body data-sidebar="dark" data-layout-mode="light">

<!-- Begin page -->
<div id="layout-wrapper">
    <header th:replace="admin/layout_admin :: header-page"></header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu" th:replace="admin/layout_admin :: menu"></div>
    <!-- Left Sidebar End -->

    <!-- Nội dung -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Quản lý vận chuyển - Thêm mới</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="card">
                    <div class="card-body">

                        <form action="/admin/quan-ly-thanh-toan/add" th:object="${thanhtoan}" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mb-3">
                                        <label for="metatitle">Tên phương thức vận chuyển</label>
                                        <input type="text" class="form-control" th:field="*{hinhthuc}"
                                               placeholder="Tên..." >
                                    </div>
                                </div>


                            </div>

                            <div class="d-flex flex-wrap gap-2">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">Xác nhận
                                </button>
                                <a class="btn btn-secondary waves-effect waves-light"
                                   href="/admin/quan-ly-thanh-toan"
                                   onclick="return confirm('Bạn chưa lưu thay đổi! Xác nhận hủy các thay đổi?')">Hủy</a>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        © Skote.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by Themesbrand
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- hết nội dung-->
</div>
<!-- END layout-wrapper -->

<footer th:replace="admin/layout_admin :: footer"></footer>
<!-- JAVASCRIPT -->
<div th:replace="admin/layout_admin :: link-js"></div>

</body>
</html>