<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout_admin :: head-link"></head>

<body data-sidebar="dark" data-layout-mode="light">

<!-- Begin page -->
<div id="layout-wrapper">
    <header  th:replace="admin/layout_admin :: header-page"></header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu"  th:replace="admin/layout_admin :: menu"></div>
    <!-- Left Sidebar End -->

    <!-- Nội dung -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Brands List</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <a th:href="@{/admin/managerBrands/addBrand}" style="margin-left:1000px;" class="btn btn-outline-secondary btn-sm create">
                                        <i class="fa fa-plus"></i>
                                        Create
                                    </a>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="">
                            <div class="table-responsive">
                                <table class="table project-list-table table-nowrap align-middle table-borderless">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 100px"></th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Brands</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each = "brands: ${ListBrands}">
                                        <td><img th:src = "${brands.AnhTH}" alt="" class="avatar-sm"></td>
                                        <td th:text = "${brands.DiaChiTH}"></td>
                                        <td th:text = "${brands.TenTH}"></td>
                                        <td>
                                            <div class="dropdown">
                                                <a th:href="@{/admin/managerBrands/editBrand/{id}(id=${brands.MaTH})}" class="btn btn-outline-secondary btn-sm edit" title="Edit">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a th:href ="@{/admin/managerBrands/deleteBrand/{id}(id=${brands.MaTH})}"
                                                   onclick="return confirm('Bạn có chắc muốn xóa không?')"  class="btn btn-outline-secondary btn-sm delete" title="Delete">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    <!-- hết nội dung-->
</div>
<!-- END layout-wrapper -->

<footer th:replace="admin/layout_admin :: footer"></footer>
<!-- JAVASCRIPT -->
<div th:replace="admin/layout_admin :: link-js"></div>
</body>
</html>